<div class="navbar navbar-fixed-top navbar-bold">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#sec1">Section 1</a></li>
        <li><a href="#sec2">Section 2</a></li>
      </ul>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li class="gravatar"><%= image_tag current_user.image_url, class: "img-square img-thumbnail home-image" %></li>
          <li id="logout"><%= link_to "Logout", logout_path, method: :delete, class: "navbar-brand" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<section>
  <div class="header vert">
    <div class="container">
      <div class="unobtrusive-flash-container">
      </div>
      <h1>Street Sweep</h1>
      <p class="lead">It's easy to forget about street sweeping. We can remind you.</p>
      <div>&nbsp;</div>
      <div class="signup-input">
        <% if !current_user %>
          <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i>
            Sign in with Twitter
          </a>
        <% else %>
          <div class="form">
            <%= render "input/initial" %>
          </div>
        <% end %>
      </div>
      <%= render template: "dashboard/show" %>
    </div>
  </div>
</section>

<section>
  <%= render template: "dashboard/map" %>
</section>
