<%= link_to "Login with Twitter", "/auth/twitter", id: "twitter" %>

<div class="scroll-on-page">
  <article>
    <div class="main-box">
      <section>
        <h1 id="title">Swept Away</h1>
        <%= render "refills/address_flex_box" %>
        <div class="first-input">
          <div class="form">
          <%= form_for "address" do |f| %>
            <%= f.text_field :address, placeholder: "E.x. 1000 N Main St, Denver, CO" %>
          <%= f.submit "cool" %>
        <% end %>
      </div>
        </div>
      </section>

      <section>
        <div class="second-input">
          <%= render "refills/email_flex_box" %>
          <div class="form">
            <%= form_for "address" do |f| %>
              <%= f.text_field :address, placeholder: "E.x. 1000 N Main St, Denver, CO" %>
            <%= f.submit "cool" %>
          <% end %>
          </div>

          <%= render "refills/phone_number_flex_box" %>
          <div class="form">
            <%= form_for "address" do |f| %>
              <%= f.text_field :address, placeholder: "E.x. 1000 N Main St, Denver, CO" %>
            <%= f.submit "cool" %>
          <% end %>
          </div>
        </div>
      </section>
    </div>
  </article>
</div>
